*{
    padding: 0;
    margin: 0;
}
#score{
    position: relative;
    left: 295px;
    top: -25px;
    font-family: Arial, sans-serif;
    font-size: 24px;
    color:azure;
}
#game{
    width: 500px;
    height: 200px;
    border: 1px solid black;
    background: url(beachpic.png);
}
#character{
    width: 26px;
    height: 50px;
    background: url(strandskele.png);
    position: relative;
    top: 146px;
    left: 30px; 
} 
/*next lines define the class animate*/
.animate{
    animation: jump 500ms;
}

/*next lines describe the steps in the jump animation*/
@keyframes jump{
    0%{top:150px;}
    40%{top: 100px;}
    80%{top: 90px}
    100%{top:150px;}
}
#block{
    background: url(pixelheart.png);
    position: relative;
    width: 20px;
    height: 20px;
    top: 122px;
    left: 480px;
    animation: block 2s linear infinite;

}

/*next lines describe the steps in the block animation*/
@keyframes block{
    0%{left:480px;}
    100%{left:0px;}
}
